<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%8.8relative %highlight(%5.-5level) %15.-15c{0} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.apache.camel.example.springboot.Application" level="warn"/>
    <logger name="org.apache.camel.example.springboot" level="info"/>
</configuration>
