<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-9relative [%-5p] %-30c{0} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.apache.camel.example.springboot.AllRecipientsApplicationTest" level="warn"/>
    <logger name="org.apache.camel.example.springboot.FirstRecipientApplicationTest" level="warn"/>
    <logger name="org.apache.camel.example.springboot.LessExpectedApplicationTest" level="warn"/>
    <logger name="org.apache.camel.example.springboot" level="info"/>
</configuration>
